<h1>My Orders</h1>

{{#if orders.length}}
	{{#each orders}}
		<div class="row">
			<div class="col s6 offset-s3">
				<div class="card">
					<div class="card-content">
						<span class="card-title">
							Order id: <small>{{_id}}</small>
						</span>
						<p class="date">Date of order: {{date}}</p>
						<p><em>{{thisUser.name}}</em></p>
						<p><em>{{thisUser.email}}</em></p>
						<ol>
							{{#each thisUserCourses}}
								<li>
									{{course.title}} (x <strong>{{count}}</strong>)
								</li>
							{{/each}}
						</ol>

						<hr>

						<p>Total Price: <span class="price">{{price}}</span></p>

					</div>
				</div>
			</div>
		</div>

	{{/each}}

{{else}}
	<p>You have not made any orders yet</p>

{{/if}}